swagger: '2.0'
info:
  version: v1
  title: Scryfall API
host: api.scryfall.com
schemes:
  - https
paths:
  #############################################
  # Sets
  # https://scryfall.com/docs/api/sets
  #############################################
  /sets:
    get:
      tags:
       - Sets
      operationId: Sets_GetAll
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/set_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/sets/{code}':
    get:
      tags:
       - Sets
      operationId: Sets_GetByCode
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/set'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  #############################################
  # Cards
  # https://scryfall.com/docs/api/cards
  #############################################
  /cards:
    get:
      tags:
       - Cards
      operationId: Cards_GetAll
      produces:
        - application/json
      parameters:
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /cards/search:
    get:
      tags:
       - Cards
      operationId: Cards_Search
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          required: true
          type: string
        - name: unique
          in: query
          required: false
          type: string
          enum:
            - cards
            - art
            - prints
          x-ms-enum:
            name: unique_strategy
            modelAsString: false
        - name: order
          in: query
          required: false
          type: string
          enum:
            - name
            - set
            - released
            - rarity
            - color
            - usd
            - tix
            - eur
            - cmc
            - power
            - toughness
            - edhrec
            - artist
          x-ms-enum:
            name: sort_order
            modelAsString: false
        - name: dir
          in: query
          required: false
          type: string
          enum:
            - auto
            - asc
            - desc
          x-ms-enum:
            name: sort_direction
            modelAsString: false
        - name: include_extras
          in: query
          required: false
          type: boolean
        - name: page
          in: query
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /cards/named:
    get:
      tags:
       - Cards
      operationId: Cards_GetNamed
      produces:
        - application/json
      parameters:
        - name: exact
          in: query
          required: false
          type: string
        - name: fuzzy
          in: query
          required: false
          type: string
        - name: set
          in: query
          required: false
          type: string
        - name: format
          in: query
          required: false
          type: string
        - name: face
          in: query
          required: false
          type: string
        - name: version
          in: query
          required: false
          type: string
        - name: pretty
          in: query
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /cards/autocomplete:
    get:
      tags:
       - Cards
      operationId: Cards_Autocomplete
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /cards/random:
    get:
      tags:
        - Cards
      operationId: Cards_GetRandom
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/multiverse/{id}':
    get:
      tags:
        - Cards
      operationId: Cards_GetByMultiverseId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/mtgo/{id}':
    get:
      tags:
        - Cards
      operationId: Cards_GetByMtgoId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/arena/{id}':
    get:
      tags:
        - Cards
      operationId: Cards_GetByArenaId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/{code}/{number}':
    get:
      tags:
        - Cards
      operationId: Cards_GetByCodeByNumber
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          required: true
          type: string
        - name: number
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/{id}':
    get:
      tags:
        - Cards
      operationId: Cards_GetById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  #############################################
  # Rulings
  # https://scryfall.com/docs/api/rulings
  #############################################
  '/cards/multiverse/{id}/rulings':
    get:
      tags:
       - Rulings
      operationId: Rulings_GetByMultiverseId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ruling_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/mtgo/{id}/rulings':
    get:
      tags:
       - Rulings
      operationId: Rulings_GetByMtgoId
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ruling_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/{code}/{number}/rulings':
    get:
      tags:
       - Rulings
      operationId: Rulings_GetByCodeByNumberId
      produces:
        - application/json
      parameters:
        - name: code
          in: path
          required: true
          type: string
        - name: number
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ruling_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/cards/{id}/rulings':
    get:
      tags:
       - Rulings
      operationId: Rulings_GetById
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ruling_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  #############################################
  # Card Symbols 
  # https://scryfall.com/docs/api/card-symbols
  #############################################
  /symbology:
    get:
      tags:
       - Symbology
      operationId: Symbology_GetAll
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/card_symbol_list'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/symbology/parse-mana':
    get:
      tags: 
       - Symbology
      operationId: Symbology_ParseMana
      produces:
       - application/json
      parameters:
        - name: cost
          in: query
          required: true
          type: string
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/mana_cost'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  #############################################
  # Catalogs
  # https://scryfall.com/docs/api/catalogs
  #############################################
  '/catalog/card-names':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetCardNames
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/word-bank':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetWordBank
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/creature-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetCreatureTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/planeswalker-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetPlaneswalkerTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/land-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetLandTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/artifact-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetArtifactTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/enchantment-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetEnchantmentTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/spell-types':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetSpellTypes
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/powers':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetPowers
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/thoughnesses':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetToughnesses
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/loyalties':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetLoyalties
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  '/catalog/watermarks':
    get:
      tags:
       - Catalog
      operationId: Catalog_GetWatermarks
      produces:
       - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
definitions:
  card:
    type: object
    properties:
      id:
        format: uuid
        type: string
      oracle_id:
        format: uuid
        type: string
      multiverse_ids:
        type: array
        items:
          type: integer
      mtgo_id:
        type: integer
      arena_id:
        type: integer
      mtgo_foil_id:
        type: integer
      uri:
        format: uri
        type: string
      scryfall_uri:
        format: uri
        type: string
      prints_search_uri:
        format: uri
        type: string
      rulings_uri:
        format: uri
        type: string
      name:
        type: string
      layout:
        enum:
          - normal
          - split
          - flip
          - transform
          - modal_dfc
          - meld
          - leveler
          - class
          - saga
          - adventure
          - mutate
          - prototype
          - battle
          - planar
          - scheme
          - vanguard
          - token
          - double_faced_token
          - emblem
          - augment
          - host
          - art_series
          - reversible_card
          - case
        type: string
        x-ms-enum:
          name: layouts
          modelAsString: false
      cmc:
        format: double
        type: number
      type_line:
        type: string
      oracle_text:
        type: string
      mana_cost:
        type: string
      power:
        type: string
      toughness:
        type: string
      loyalty:
        type: string
      life_modifier:
        type: string
      hand_modifier:
        type: string
      colors:
        type: array
        items:
          $ref: '#/definitions/colors'
      color_indicator:
        type: array
        items:
          $ref: '#/definitions/colors'
      color_identity:
        type: array
        items:
          $ref: '#/definitions/colors'
      all_parts:
        type: array
        items:
          $ref: '#/definitions/related_cards'
      card_faces:
        type: array
        items:
          $ref: '#/definitions/card_face'
      legalities:
        $ref: '#/definitions/legality'
      reserved:
        type: boolean
      edhrec_rank:
        format: int32
        type: integer
      set:
        type: string
      set_name:
        type: string
      collector_number:
        type: string
      set_search_uri:
        type: string
      scryfall_set_uri:
        format: uri
        type: string
      image_uris:
        $ref: '#/definitions/image_uri'
      highres_image:
        type: boolean
      reprint:
        type: boolean
      digital:
        type: boolean
      rarity:
        enum:
          - common
          - uncommon
          - rare
          - mythic
        type: string
        x-ms-enum:
          name: rarity
          modelAsString: false
      flavor_text:
        type: string
      artist:
        type: string
      illustration_id:
        format: uuid
        type: string
      frame_effects:
        type: array
        items:
          $ref: '#/definitions/frame_effect'
      frame:
        type: string
      full_art:
        type: boolean
      watermark:
        type: string
      border_color:
        enum:
          - black
          - borderless
          - gold
          - silver
          - white
        type: string
        x-ms-enum:
          name: border_colors
          modelAsString: false
      story_spotlight_number:
        type: integer
      story_spotlight_uri:
        format: uri
        type: string
      purchase_uris:
        type: object
        additionalProperties:
          type: string
      related_uris:
        type: object
        additionalProperties:
          type: string
  card_face:
    type: object
    properties:
      name:
        type: string
      type_line:
        type: string
      oracle_text:
        type: string
      mana_cost:
        type: string
      colors:
        type: array
        items:
          $ref: '#/definitions/colors'
      color_indicator:
        type: array
        items:
          $ref: '#/definitions/colors'
      power:
        type: string
      toughness:
        type: string
      loyalty:
        type: string
      defense:
        type: string
      flavor_text:
        type: string
      illustration_id:
        format: uuid
        type: string
      image_uris:
        $ref: '#/definitions/image_uri'
  colors:
    enum:
     - W
     - U
     - B
     - R
     - G
    type: string
    x-ms-enum:
      name: colors
      modelAsString: false
  legality:
    type: object
    properties:
      standard:
        $ref: '#/definitions/legal_status'
      future:
        $ref: '#/definitions/legal_status'
      historic:
        $ref: '#/definitions/legal_status'
      pioneer:
        $ref: '#/definitions/legal_status'
      modern:
        $ref: '#/definitions/legal_status'
      legacy:
        $ref: '#/definitions/legal_status'
      pauper:
        $ref: '#/definitions/legal_status'
      vintage:
        $ref: '#/definitions/legal_status'
      penny:
        $ref: '#/definitions/legal_status'
      commander:
        $ref: '#/definitions/legal_status'
      brawl:
        $ref: '#/definitions/legal_status'
      duel:
        $ref: '#/definitions/legal_status'
      oldschool:
        $ref: '#/definitions/legal_status'
  legal_status:
    enum:
      - legal
      - not_legal
      - restricted
      - banned
    type: string
    x-ms-enum:
      name: legal_status
      modelAsString: false
  frame_effect:
    enum:
      - legendary
      - miracle
      - nyxtouched
      - draft
      - devoid
      - tombstone
      - colorshifted
      - inverted
      - sunmoondfc
      - compasslanddfc
      - originpwdfc
      - mooneldrazidfc
      - waxingandwaningmoondfc
      - showcase
      - extendedart
      - companion
      - etched
      - snow
      - lesson
      - shatteredglass
      - convertdfc
      - fandfc
      - upsidedowndfc
    type: string
    x-ms-enum:
      name: frame_effect
      modelAsString: false
  image_uri:
    type: object
    properties:
      small:
        format: uri
        type: string
      normal:
        format: uri
        type: string
      large:
        format: uri
        type: string
      png:
        format: uri
        type: string
      art_crop:
        format: uri
        type: string
      border_crop:
        format: uri
        type: string
  related_cards:
    type: object
    properties:
      id:
        format: uuid
        type: string
      name:
        type: string
      uri:
        format: uri
        type: string
  catalog:
    type: object
    properties:
      total_items:
        format: int32
        type: integer
      data:
        type: array
        items:
          type: string
  set:
    type: object
    properties:
      code:
        type: string
      mtgo_code:
        type: string
      name:
        type: string
      set_type:
        enum:
         - core
         - expansion
         - masters
         - masterpiece
         - from_the_vault
         - spellbook
         - premium_deck
         - duel_deck
         - commander
         - planechase
         - conspiracy
         - archenemy
         - vanguard
         - funny
         - starter
         - box
         - promo
         - token
         - memorabilia
         - treasure_chest
        type: string
        x-ms-enum:
          name: set_types
          modelAsString: false
      released_at:
        format: date
        type: string
      block_code:
        type: string
      block:
        type: string
      parent_set_code:
        type: string
      card_count:
        type: integer
      digital:
        type: boolean
      foil:
        type: boolean
      icon_svg_uri:
        format: uri
        type: string
      search_uri:
        format: uri
        type: string
  ruling:
    type: object
    properties:
      source:
        type: string
      published_at:
        format: date
        type: string
      comment:
        type: string
  card_symbol:
    type: object
    properties:
      symbol:
        type: string
      loose_variant:
        type: string
      english:
        type: string
      transposable:
        type: boolean
      represents_mana:
        type: boolean
      cmc:
        format: double
        type: number
      appears_in_mana_costs:
        type: boolean
      funny:
        type: boolean
      colors:
        $ref: '#/definitions/colors'
  mana_cost:
    type: object
    properties:
      cost:
        type: string
      cmc:
        format: double
        type: number
      colors:
        $ref: '#/definitions/colors'
      colorless:
        type: boolean
      monocolored:
        type: boolean
      multicolored:
        type: boolean
  card_list:
    type: object
    properties:
      total_cards:
        format: int32
        type: integer
      has_more:
        type: boolean
      next_page:
        format: uri
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/card'
  set_list:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/set'
  ruling_list:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/ruling' 
  card_symbol_list:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/card_symbol'
  error:
    type: object
    properties:
      status:
        type: integer
      code:
        type: string
      details:
        type: string
      type:
        type: string
      warnings:
        type: array
        items:
          type: string
